.containerH {
    display: flex; /*or inline flex*/
    flex-flow: row wrap; /*shorthand of flex direction and wrap*/
    justify-content: center;
    justify-items: center;
}

.containerV {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-self: center;
}

.headTitle {
    background-color: #161616;
    color: #ffffff;
    margin: None;
    padding: 0.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: #161616 2 3 ;
} 

.titleItem{
    font-size: 50px;
    margin-left: 5rem;
}

.titleItem:nth-child(1) {
    margin-left: 0;
    color: #ff6a00;
}

.titleItem:nth-child(2) {
    color: #ffffff;
}
.titleItem:nth-child(3) {
    color: #00b7ff;
}

.bodyList {
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.listItem {
    margin-top: 1rem;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    color: #ffffffde;
    min-width: 40%;
    max-width: 40%;
    min-height: 3rem;
    border-radius: 20px;
    background-color: #00b7ff;
    justify-self: center;
}
