html {
    background-color: black;
}

/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra vertical */
    height: 12px; /* Altura de la barra horizontal */
}

/* Estilo de la pista (fondo) de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #f1f1f108; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del "pulgarcito" (la parte móvil) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #ff484893; /* Color del pulgarcito */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Borde alrededor del pulgarcito */
}

/* Estilo del "pulgarcito" cuando el cursor está sobre él */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff4040; /* Color del pulgarcito al pasar el cursor */
    transition: background-color 0.7s; /* Transición suave */
}

/* Estilo de los botones de flecha (opcional) */
::-webkit-scrollbar-button {
    display: none; /* Oculta los botones de flecha */
}

/* Estilo de la esquina donde se encuentran las barras de desplazamiento */
::-webkit-scrollbar-corner {
    background: #f1f1f1; /* Color de fondo */
}

.containerH {
    display: flex; /*or inline flex*/
    flex-flow: row wrap; /*shorthand of flex direction and wrap*/
    justify-content: left;
    justify-items: left;
}


.containerV {
    display: flex;
    flex-flow: column wrap;
}

.bgImg {
    position: fixed;
    z-index: -1;
    display: block;
    background-image: linear-gradient(black 10%, transparent),url('../Resources/bg1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}

.form {
    z-index: 1;
}


.headTitle {
    background-color: #ff55711c;
    color: #ffffff;
    margin: None;
    padding: 0.5rem;
    padding-bottom: 6rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    mask-image: linear-gradient(rgb(0, 0, 0) 3%, transparent 97%);
} 

.titleItem{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}


.formContainer {
    margin: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
    align-items: flex-start;
    color: white;
    background: linear-gradient(135deg, rgba(255, 143, 143, 0.134) 10%, rgba(255, 0, 166, 0.033)) 90%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow-x:scroll;
    transition: all 1s ease-in-out;
    scrollbar-base-color: black;
}


.formContainer:hover {
    backdrop-filter: blur(20px);
}

.formList {
    width: 100%;
}

.formInfo {
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: justify;
    display: block;
}

.formField {
    margin-top: 1.5rem;
}

.formLabel {
    color: white;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 2px;
    margin-right: auto;
    text-align: justify;
}

.formSubmit {
    align-items: center !important;
    align-content: center !important;
}

.formInput {
    background-color: #ff49675d;
    border-radius: 15px;
    padding: 5px;
    padding-left: 1rem;
    font-family: Montserrat;
    font-weight: 200;
    color: #ffffff;
    border: none;
    outline: none;
    width: 80%;
    transition: all 0.5s ease-in-out;
}

.formInput:hover {
    box-shadow: #ff216f6d 0px 0px 15px;
}

.formInput:focus {
    inset: none;
    border: none;
    background-color: #ff494914;
    text-shadow: 0 0 9px #ffffff;
    box-shadow: #0000001b 0px 0px 15px;
}



#msg {
    margin-left: auto;
    text-decoration: none;
    resize: vertical;
    transition-property: opacity, transform, background-color, text-shadow, border, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#btnSubmit {
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem;
    margin-top: 2rem;
    width: 50%;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color:  #ffffff;
    cursor: pointer;
    background-color: rgb(253, 44, 44);
    border-radius: 20px;
    border: 1px solid #ff002f;
    transition: all 0.4s ease-in-out;
}

#btnSubmit:hover {
    box-shadow: 0 0px 16px 0 rgba(243, 60, 60, 0.533), 0 6px 20px 0 rgba(255, 55, 55, 0.089), inset 0 0 15px #ff934b20;
    transform: scale(1.07);
}

#btnSubmit:active {
    transition: all 0.2s ease-in-out;
    transform: scale(0.97);
}