/*
    Use the HTML style attribute for inline styling
    Use the HTML <style> element to define internal CSS
    Use the HTML <link> element to refer to an external CSS file
    Use the HTML <head> element to store <style> and <link> elements
    Use the CSS color property for text colors
    Use the CSS font-family property for text fonts
    Use the CSS font-size property for text sizes
    Use the CSS border property for borders
    Use the CSS padding property for space inside the border
    Use the CSS margin property for space outside the border
*/
:root {
    --font-default:"Poppins", sans-serif;
	
}
.header {
    font-family: var(--font-default);
    color: #333;
    margin: 0;
    padding: 20px;
}
.header p {
    font-family: var(--font-default);
    font-weight: 100px;
    font-size: 15px;
    float: left;
    display: block;
    margin: 10px 20px 0 0; /*TRBL*/
}

.header-title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;    
}

.card {
    margin: 30px 0px 30px 20px;
    background-color: #6bc9ff;
    border-radius: 20px;
    text-align: justify;
    font-family: var(--font-default);
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    padding: 20px;
    filter: drop-shadow(0px 9px 9px rgba(5, 0, 17, 0.15));
}
.card:nth-child(3) {
    background-color: #ae7cff;
}
.card:nth-child(4) {
    background-color: hwb(0 32% 0%);
}
.card:nth-child(5) {
    background-color: #7cff92;
}

.card-bt {
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;

    background: linear-gradient(to right, #33e7ff 50%, #41ff51 );
    /*Smooth transition by using 200% on x size, by default we use 100%
      to cover all our component, in this case we double the x size so
      we can  see  the transition in*/
    background-size: 200% 100%; 
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    text-align: center;
    padding: 8px;
    flex: content;
    width: 45%;
    margin-top: 10px;
    filter: drop-shadow(0px 11px 11px rgba(2, 32, 43, 0.3));
    transition: background-position 0.5s ease-in-out;
}

.card-bt:hover {
    background-position: right center;
}

.images {
    padding: 20px;
}
.images-title {
    font-family: var(--font-default);
    font-weight: 700;
    text-align: center	;
}